<!DOCTYPE html>
<html>
  <head>
    <title>Kancolle Broker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login with your DMM account(email) & password below. <small><a
                href="https://github.com/phoenixlzx/kancolle-broker">View source code</a></small></h1>
    <form action="login" method="post">
      <label for="login_id">Email</label>
      <input type="email" name="login_id" id="login_id" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
