<!DOCTYPE html>
<html>
  <head>
    <title>Kancolle Broker</title>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css' />
    <style>
    .centered-form{
      margin: 100px auto;
      width:300px;
    }
    h1{
      text-align: center;
    }
    footer{
      position: absolute;
      right:10px;bottom:10px;
    }
    iframe{
      height: 100%;
      /*width: 100%;*/
    }
    </style>
  </head>
  <body>
    <form class="centered-form pure-form pure-form-stacked" action="login">
      <h1>Poi Poi Poi</h1>
      <fieldset class="pure-group">
        <input class=" pure-input-1" type="email" placeholder="Email" name="login_id" id="login_id">
        <input class=" pure-input-1" type="password" placeholder="Password" name="password" id="password">
      </fieldset>
      <fieldset>
        <label for="remember" class="pure-checkbox hidden" id="remember-box">
          <input id="remember" type="checkbox"> Remember me
        </label>
        <button type="submit" class="pure-button pure-button-primary pure-input-1">Sign in</button>
      </fieldset>
    </form>
    <iframe name="game_frame" width="900" height="1200" id="game_frame" src="about:blank" class="hidden" border="0" frameborder="0" scrolling="no" style="height: 610px;">艦隊これくしょん～艦これ～</iframe>
    <footer><a href="https://github.com/phoenixlzx/kancolle-broker">kancolle-broker</a></footer>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
    (function(){
      function loadIframe(url){
	if(location.href.indexOf('re')!=-1){
	  window.location.replace(url);
	}else{
	  $("iframe").removeClass("hidden").attr("src", url);
          $("form").hide();
          $("footer").hide();
	}
      }

      lsSupported = "localStorage" in window;
      if(lsSupported){
        $("#remember-box").removeClass("hidden");
        cookie = window.localStorage.getItem('cookie');
        if(cookie){
          $.ajax({
            type: "POST",
            url: "login",
            data: {
              cookie: cookie
            },
            success:function (res) {
              loadIframe(res.url);
            },
            error:function(type){
              alert("Login Failed.");
              $(e.target).prop('checked', true);
            }
          })
        }
        $("#remember").on("change", function(e){
          checked = $(e.target).prop('checked');
          if(!checked){
            window.localStorage.clear();
          }
        })
      }
      $("form").on("submit", function (e) {
        e.preventDefault();
        uname = $("#login_id").val();
        pass = $("#password").val();
        data = $('form').serialize();
        remember = $("#remember").prop('checked') && lsSupported;
        $.ajax({
          type: "POST",
          url: "login",
          data: data,
          success:function (res) {
            if(remember){
              window.localStorage.setItem('cookie', res.cookie);
            }
            loadIframe(res.url);
          },
          error:function(type){
            console.log(type);
          }
        })
      })
    })();
    </script>
  </body>
</html>
